[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
grpcio-tools = "*"
gunicorn = "*"
requests = "*"
websockets = "*"
fastapi-utils = "*"
asyncpg = "*"
cachetools = "*"
aiohttp = "*"
aiocache = "*"
typing-inspect = "*"
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"
vecno-script-address = "*"

[requires]
python_version = "3.12"

[dev-packages]
